@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "重置密码";
}
<div class="container mozskin-main mt-4">
    <h4>@ViewData["Title"]</h4>
    <hr/>
    <p>
        你的密码已经重置，请 <a asp-page="./Login">点击这里进行登录</a>...
    </p>
</div>