@import "core";

body {
    background: #f5f5f5;
    color: #333;
    font-family: 'Arial','\5FAE\8F6F\96C5\9ED1';
}

.main-container {
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    padding: 0 !important;

    .account-menu {
        flex: 0 0 215px;
        width: 215px;
        border-right: #f0f2f5 1px solid;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li.active {
                background: rgb(230,247,255);
                border-right: rgb(24,144,255) 5px solid;

                a {
                    color: #007bff;
                }
            }

            a {
                height: 40px;
            }
        }
    }

    .account-main {
        flex: 1 1 auto;
        padding: 24px;

        .max-250 {
            max-width: 250px;
        }
    }
}
