@{
    ViewData["Title"] = "创建帐户";
    Layout = "_Global";
    ViewData["Skin"] = "register";
}
@model RegisterUser
<div class="background">
    <div class="small"></div>
    <div class="real"></div>
    <div class="overlay"></div>
</div>

<form class="form" method="post">
    <div class="register-wrapper">
        <div class="register-middle">
            <div class="register-inner">
                <div><img class="logo" src="~/images/logo.svg" /></div>
                <div class="title row">
                    创建帐户
                </div>
                <div class="row">
                    <div class="register-msg"></div>
                    <div class="form-group">
                        <input asp-for="UserName" placeholder="请输入用户名..." type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group"><input asp-for="Password" placeholder="密码" type="password" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="form-group"><input asp-for="ConfirmPassword" placeholder="确认密码" type="password" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="form-group"><input asp-for="Email" placeholder="电子邮件" type="text" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input asp-for="VCode" placeholder="验证码" type="text" class="form-control row-left" />
                        <img onclick="this.src = '/register-vcode.png'.randomSuffix();" class="img-vcode" src="~/register-vcode.png" title="点击刷新验证码" />
                    </div>
                </div>
                <div class="row mt15">
                    <moz:checkbox istyle="Check" class="text" onclick="enabled(this)" checked="true">同意 <a href="#">Mozlite 服务协议和隐私</a>和 <a href="#">Cookie 声明</a>。</moz:checkbox>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">注册</button>
                </div>
                <div class="row mt15 text">
                    已有账户？<a asp-action="Index" asp-controller="Home" asp-area="@SecuritySettings.ExtensionName">点击登陆</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function enabled(obj) {
        obj = $(obj);
        if (obj.hasClass('checked')) {
            obj.parents('form').find('[type=submit]').attr('disabled', 'disabled');
        } else {
            obj.parents('form').find('[type=submit]').removeAttr('disabled');
        }
    };
</script>