@page
@model CreateModel
@{
    Layout = "_Modal";
    ViewBag.Title = "添加用户";
}

<form method="post">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>账户<sup class="text-danger">*</sup></label>
                <input autocomplete="off" class="form-control" asp-for="Input.UserName" />
                <span class="text-danger" asp-validation-for="Input.UserName"></span>
            </div>
            <div class="form-group">
                <label>姓名<sup class="text-danger">*</sup></label>
                <input class="form-control" asp-for="Input.RealName" />
                <span class="text-danger" asp-validation-for="Input.RealName"></span>
            </div>
        </div>
        <div class="col-6 pl-0">
            <div class="form-group">
                <label>密码<sup class="text-danger">*</sup></label>
                <input class="form-control" type="password" asp-for="Input.Password" />
                <span class="text-danger" asp-validation-for="Input.Password"></span>
            </div>
            <div class="form-group">
                <label>确认密码<sup class="text-danger">*</sup></label>
                <input class="form-control" type="password" asp-for="Input.ConfirmPassword" />
                <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>电话号码</label>
        <input class="form-control" asp-for="Input.PhoneNumber"/>
    </div>
    <div class="form-group">
        <label>电子邮件</label>
        <input class="form-control" asp-for="Input.Email"/>
    </div>
</form>