@page
@model RoleModel
@{
    ViewBag.Title = "设置角色";
    Layout = "_Modal";
}

<form method="post">
    <div class="form-group mb-0">
        <label>@Model.Name</label>
    </div>
    <hr class="mt-0" />
    <moz:role-checkboxlist max="Model.Role.RoleLevel" class="row" iclass="col-6" for="Input.RoleId"></moz:role-checkboxlist>
    <input type="hidden" asp-for="Input.UserId" />
</form>