@{
    Layout = "_Admin";
    ViewData["Title"] = "编辑器";
}
<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="javascript:;" onclick="$alert($('.data-view').checkedVal());" class="action"><i class="fa fa-check"></i> 选中值</a>
            <a href="javascript:;" post-ids="/dashboard/security/admin/deletes" class="action"><i class="fa fa-trash"></i> 删除</a>
        </div>
        <div class="rightbar">
            <button onclick="$alert('这里是警告信息，也可以是成功信息！');"><i class="fa fa-warning"></i></button>
        </div>
    </div>
</div>
<div class="customScrollBar moz-designer">
    <div class="draw-layout" style="width: 1250px; height: 1500px; padding: 1000px; cursor: default;">
        <div class="designer-layout">
            <canvas width="1000" height="1000"></canvas>
        </div>
    </div>
</div>

@section header{
    <link rel="stylesheet" href="~/css/designer.css" />
}
@section footer{
    <script src="~/js/designer.js"></script>
}
