@page
@model EditModel
@{
    ViewBag.Title = "项目信息";
    Layout = "_Modal";
}

<form method="post">
    <div class="form-group">
        <label>用户列表</label>
        <moz:user-checkboxlist class="row" iclass="col-6" for="Input.UserIds"></moz:user-checkboxlist>
    </div>
</form>