@{
    Layout = "_Admin";
    ViewData["Title"] = "编辑头像";
}

@model User

<div class="content-wrapper">
    <div class="content-container">
        <form method="post" class="form settings customScrollBar">
            <div class="form-title">
                用户头像
            </div>
            <hr />
            <div class="avatar-edit" title="用户头像">
                <img src="@Model.Avatar" />
            </div>
            <div class="browse-upload">
                <input onchange="$upload('@Url.Action("Avatar", "Account", new { area = SecuritySettings.ExtensionName})', this.files[0], uploadSuccess);" type="file" style="display:none;" name="file" />
                <button type="button" onclick="$(this).parent().find('input[type=file]').click();" class="btn btn-primary">点击上传头像</button>
            </div>
        </form>
    </div>
</div>

@section footer{
    <script type="text/javascript">
        function uploadSuccess(data) {
            if (data) {
                $('.avatar-edit>img').attr('src', data.url);
            }
        };
    </script>
}