.moz-designer * {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

.moz-designer {
    flex: 1 1 auto;
    overflow: scroll;
    position: relative;
    background: url(/images/canvas_bg.jpg) repeat;
    z-index: 0;
    display: block;
}

    .moz-designer .draw-layout {
        cursor: default;
    }

        .moz-designer .draw-layout .designer-layout {
            position: relative;
            background: #F2F2F2;
            overflow: visible;
            box-shadow: 3px 3px 6px #888;
            z-index: 0;
        }
