@{
    ViewBag.Title = "配置";
    Layout = "_Admin";
    ViewData["Nav"] = "settings.home";
}

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
        </div>
        <div class="rightbar">
            <a href="javascript:;" onclick="$alert($('.data-view').checkedVal());" class="action"><i class="fa fa-check"></i> 保存</a>
            <button>放弃</button>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <form class="form settings customScrollBar">
            <div class="form-title">
                共享
            </div>
            <div class="form-desc">
                对于从我的计算机中选择的文件:
            </div>
            <moz:rolecheckboxlist></moz:rolecheckboxlist>
            <div class="form-desc">
                对于从我的计算机中选择的文件:
            </div>
            <moz:rolecheckboxlist></moz:rolecheckboxlist>
            <hr/>
            <div class="form-title">
                共享
            </div>
            <div class="form-desc">
                对于从我的计算机中选择的文件:
            </div>
            <moz:rolecheckboxlist></moz:rolecheckboxlist>
            <div class="form-desc">
                对于从我的计算机中选择的文件:
            </div>
            <div class="form-group">
                <input type="text" class="form-control w200"/>
            </div>
            <hr/>
            <div class="form-title">快速建议</div>
            <p>
                撰写邮件时，Outlook 可突出显示文本中的关键字并推荐有用的信息，例如附近的餐厅、航班信息或钟意球队的日程表，单击关键字时即会显示建议，可将这些建议插入到邮件中。
            </p>
        </form>
    </div>
</div>