@{
    Layout = "_Admin";
    ViewData["Title"] = "修改密码";
}

@model ChangePasswordViewModel

<div class="content-wrapper">
    <div class="content-container">
        <form method="post" class="form settings customScrollBar">
            <div class="form-title">
                修改密码
            </div>
            <hr />
            <div class="form-desc">
                原始密码:
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" autocomplete="off" class="form-control w200" />
            </div>
            <div class="form-desc">
                新密码:
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" type="password" autocomplete="off" class="form-control w200" />
            </div>
            <div class="form-desc">
                确认密码:
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" type="password" autocomplete="off" class="form-control w200" />
            </div>
            <button type="submit" class="btn btn-primary">修改密码</button>
            <hr />
            <div class="form-title">密码建议</div>
            <p>
                密码最好包含英文大小写字母，和符号，最少需要6个字符串长度。
            </p>
        </form>
    </div>
</div>
