@{
    ViewBag.Title = "详情";
}


<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
        </div>
        <div class="rightbar">
            <a href="javascript:;" onclick="$alert($('.data-view').checkedVal());" class="action"><i class="fa fa-check"></i> 保存</a>
            <button>放弃</button>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="archive customScrollBar">
            <div class="archive-title">德国之声 | 长平观察：间谍故事 从小红到阳阳</div>
            <div class="archive-content">
                <div class="archive-summary">
                    <div class="archive-avatar">
                        <div class="avatar"></div>
                    </div>
                    <div class="archive-props">
                        <div>数字时代</div>
                        <div class="date">2017-11-16</div>
                        <div class="label-conatiner">
                            <label>标签：</label>
                            <span>中国，科技，平等</span>
                            <label>访问：</label>
                            <span>10000次</span>
                        </div>
                    </div>
                    <div class="archive-right">
                        <button title="分享"><i class="fa fa-mail-forward"></i></button>
                        <button title="操作"><i class="fa fa-angle-double-down"></i></button>
                    </div>
                </div>
                <div class="archive-note">
                    <div class="mark"></div>
                    <div class="content">
                        你认为这篇文章对你有用？<a class="ml5" href="#"><i class="fa fa-thumbs-o-up"></i> 有用</a> <a class="ml5" href="#"><i class="fa fa-thumbs-o-down"></i> 没用</a>
                    </div>
                </div>
                <div class="mozfmt">
                    <p>一部中小学国家安全教育专题动画片，让很多人感到“文革”再现。时评人长平认为，其中的性别角色变化反映了习近平中国梦的新特征。</p>
                    <p>（德国之声中文网）”周末不要放松警惕，间谍不会休息，多多观察家人举动，有没有可疑情况，及时向国安机关汇报，让家人主动坦白争取宽大处理。”中文社交媒体用这段话作为导语，推出《中小学国家安全教育专题动画片》，让很多人感到心惊胆战。在这部官方制作的宣传片中，小学生阳阳发现父亲打算接受一家海外杂志的约稿。阳阳的追问惊动了爷爷，爷爷怒斥爸爸中了间谍人员的圈套，差点出卖国家机密。爸爸幡然醒悟，向国家安全机关自首和举报，得到肯定和赦免。</p>
                    <p>网络上很快出现文革时期的经典连环画《小红智斗爷爷》，大家眼睁睁地看着丑陋的历史正在赤裸裸地重演。同时，也有论者指出，这部宣传片并不是简单的照本宣科，而是精心增删，成为”习近平新时代中国特色社会主义思想”的注脚。明显的改变是，毛泽东时代最响亮的口号”阶级斗争”不见了，敌人里没有了地主和资本家–事实上政府在保卫地主和资本家的利益，所以揭露黑心资本家的”巴拿马文件”要被严厉封禁，压榨劳工的”血汗工厂”不能随便曝光，被剥夺了土地的农民也不能上访–只剩下鼓励和帮助中国民众向权势阶层抗争的”海外敌对势力”和他们布置在国内的”间谍”。</p>
                    <p>好女生只是陪衬</p>
                    <p>和这种权力关系同构的，是宣传片的另外一个变化：性别平等的倒退。由于父权-专制的性质并没有得到根本性的改变，中共政权从来没有实现真正的性别平等。但是，”妇女翻身”是阶级斗争意识形态的一个重要组成部分，也要在各类宣传中体现出来。连环画《小红智斗爷爷》中，小红是一个机智勇敢的女生，她关心国家大事，了解科技知识，和民警合作揪出了身为苏修特务的爷爷。</p>
                    <p>在新的宣传片中，女生不仅成了陪衬，而且和她讲述的妈妈一样，视野狭隘，只知道锅碗瓢盆。她讲的安全大事，是妈妈老是忘记关煤气阀门，在爸爸的反复提醒之下终于改正，从而保证了家庭的安全。请注意，在宣传部中这并不是一个负面的女生形象，而是一个好女生”正常”的模样。她的发言赢得了老师和同学们的掌声。</p>
                    <p>有人可能会说，这样的女生更实在，生活中的安全才是真正的安全，她比被意识形态洗脑的阳阳可爱多了。事实可能如此，但这并非宣传片的本意。在宣传片中，她代表的是只知道家庭的”小我”，为了映衬心怀国家的男生的”大我”。</p>
                    <p>为了突出阳阳的”好男儿”形象，宣传片还刻画了一个坏男生作为铺垫：一个胖子–这又是一种赤裸裸的身材歧视–只知道挣钱的”大款”的儿子。他和家人的安全隐患就是爸爸的钱太多，需要请很多保镖。他的发言让同学们皱起了眉头，发出了嘲笑的声音。</p>
                    <p>父权和专制相辅相成</p>
                    <p>接下来，形象端庄、机灵沉稳的男主角上场了。他的戏份占了全片的五分之三，却跟女人没有半点关系。主要的场景是爸爸的书房、家里的客厅和国家安全机关的办公室，这些都不是女生呆的地方。当家里的三代男人–爷爷、爸爸和阳阳–正在为国家安全操碎了心的时候，奶奶和妈妈估计正在厨房里忙碌着–希望她们能够记住男人们在百忙中抽出时间的指教，用完煤气之后关上阀门！</p>
                    <p>从习近平上台开始，我就一再写文章指出他的中国梦乃是毫不掩饰的父权梦–将传统文化中的父权制沉渣当作文化精华打捞起来，铺就新极权的路基。几年前，一些女权主义者都认为我过度阐释，今天她们大概也看得非常清楚了。各种打出弘扬传统文化的”读经班”、”女德班”的粉末登场，都是这场大戏里必不可少的桥段。</p>
                    <p>很多网民仍然会觉得，在这部宣传片中，女生小红变成男生阳阳只是一种巧合，甚至可以在别的宣传材料中找出”小红”来。我想说，即便如此，父权和专制仍然是一对结构性相辅相成的兄弟。</p>
                    <p>© 无可奉告 for 中国数字时代 |Permalink |</p>
                    <p>Post tags: 专制, 中国梦, 中国特色, 习近平, 国安, 国家安全, 国家机密, 女权, 女权主义, 宣传, 宣传部, 小学生, 性别平等, 父权, 父权制, 阶级斗争</p>
                    <p>发送任意邮件至sub@chinadigitaltimes.net便可成功订阅数字时代</p>
                    <p>美国之音｜丹东银行涉嫌洗钱，背后大鱼是谁？</p>
                    <p>在位于中越边境的丹东市望向朝鲜一侧 (Reuters)</p>
                    <p>美国政府日前宣布与涉嫌协助朝鲜洗钱的丹东银行切断金融往来，似乎把焦点都集中在这家银行上面。中国的专家也强调这是孤立的个案。但是，美国学者指出，这种行为持续发生，而且背后真正的大鱼乃是国营中国银行。</p>
                    <p>丹东银行与朝鲜联系密切</p>
                    <p>川普总统访华的前夕，美国财政部宣布正式切断其金融系统与涉嫌协助朝鲜洗钱和非法融资的丹东银行的业务往来，使得该银行成为全球关注的焦点。</p>
                    <p>美国财政部长努钦表示，这项举措将会更好地保护美国财政系统不被朝鲜的非法阴谋所利用，去逃避制裁并为其武器项目筹款。努钦还敦促全球银行和商业系统提高警惕。美国财政部早在今年6月就把丹东银行列为“存在重要洗钱问题的外国银行”，并建议切断该银行与美国金融体系的联系。</p>
                    <p>丹东银行成立于1993年12月，是经中国人民银行批准设立的地方性股份制商业银行。它所在的辽宁省丹东市，东南濒临鸭绿江，与朝鲜的新义州市隔江相望。丹东市同时也是中朝贸易最大的口岸城市，它在中朝贸易中发挥着举足轻重的作用。据当地贸易部门公布的数据，丹东对朝鲜贸易额约占中朝两国贸易额的40%，经丹东口岸过境的货物量约占中国对朝贸易总量的80%。</p>
                    <p>中国专家指丹东银行为孤立个案</p>
                    <p>在北京的清华—卡内基全球政策中心研究员赵通指出，随着联合国和美国对朝鲜的制裁进一步深入，中国国有四大银行已基本切断与朝鲜的金融交易，但一些规避风险意识不强的小型银行在某些情况下会采取规避制裁的措施。</p>
                    <p>赵通说：“丹东银行可能对自己规避风险的能力比较有信心，会根据国际局势的发展，决定在多大程度上收紧朝鲜账户的美元交易。风声紧的时候就执行得严厉一些，风声势头过了之后，以一定规模继续相关的美元交易。”</p>
                    <p>赵通认为，国际社会对朝鲜的金融制裁有着比较灵活的解读和执行空间。他说，联合国安理会通过的制裁决议只要求对黑名单上的朝鲜个人和团体的金融活动进行限制。中国的小型银行可能对与美国国内的制裁措施配合兴趣不高，甚至存在侥幸心理，认为只要联合国的制裁决议没有明确规定，就不必严格执行。但是，赵通相信，随着中国政府配合国际社会制裁朝鲜的决心日益增强，中国的小型金融机构参加朝鲜金融机构的活动会逐步减少。</p>
                    <p>美国专家指大鱼为中国银行</p>
                    <p>中国问题专家、《中国即将崩溃》一书的作者章家敦（Gordon Chang）指出，丹东银行只是一条小鱼而已，中国大型国有银行也在其中有份。他说，2016年，联合国的报告指“中国银行”协助朝鲜洗钱。据悉，这家银行涉嫌帮助新加坡海运公司在帐目上作假，以协助其将核导弹等武器运往朝鲜。</p>
                    <p>章家敦说：“过去，中国最大的银行在切断与朝鲜的银行账户后又将其恢复。这是一种持续性行为。美国政府不审查中国银行时，他们就故伎重演。9月底，川普总统感谢习近平下令中央银行切断与朝鲜的银行业务联系。我希望中国银行不要重蹈覆辙，我们必须继续提高警惕。我们还要记住，中国银行是由中国政府控制的，他们可以把业务从一个银行转到另一个银行。因此，我们需要对中国银行参与这个肮脏的交易有一个更广泛的认识。”</p>
                    <p>章家敦指出，川普总统9月21日签署的行政命令具有里程碑意义，它向全世界宣告，任何国家如果要与朝鲜做生意，就不能与美国做生意。</p>
                    <p>美中对朝合作被指流于表面</p>
                    <p>赵通认为，美中两国取得突破的可能性不大，因为中国对朝鲜半岛战略利益的考量，对朝核问题的看法以及朝鲜政权的认识没有发生根本性变化。</p>
                    <p>赵通说：“美中现在只是在表面层次上进行合作，因为他们毕竟都同意，朝鲜核导弹发展项目明确违反了国际法，所以应该受到制裁，而且朝鲜这种一意孤行的行为使中国的国家利益越来越受到直接的威胁。由于这些原因，中国同意对朝鲜实行更多的经济制裁，这是中美能够合作的主要原因。”</p>
                    <p>赵通认为，中美两国的对朝战略相互矛盾。美国主张向朝鲜施加压力，中国则希望通过对话来缓解朝鲜的危险感知。这是制约双方合作的主要原因，也决定了他们未来在朝鲜问题上的合作不太可能进入实质性阶段。</p>
                    <p>设在华盛顿市的“保卫民主基金会”的资深研究员、美国前财政部官员安东尼·鲁吉罗（Anthony Ruggiero）指出，中国必须在保护那些规避制裁违反美国法律的中国公民与发展美中关系之间做一个抉择，因为二者不可兼得。</p>
                    <p>鲁吉奥说：“美中之间的合作一直都存在，但不幸的是，中国违反制裁的行为已经持续了10年了，我们却始终没有对它采取任何行动。这届政府终于向中国提出了严厉的指责，因此可能会导致两国之间的冲突，但这些都是因为中国领导层选择朝鲜，而把美中关系至于不顾。”</p>
                    <p>川普总统访华后，双方在对朝问题上的合作是否有所改善，人们拭目以待。</p>
                </div>
            </div>
        </div>
    </div>
</div>