@{
    ViewBag.Title = "添加/更新";
}

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="javascript:;" onclick="$alert($('.data-view').checkedVal());" class="action"><i class="fa fa-check"></i> 选中值</a>
            <button><i class="fa fa-trash"></i> 删除</button>
        </div>
        <div class="rightbar">
            <button onclick="$alert('这里是警告信息，也可以是成功信息！');"><i class="fa fa-warning"></i></button>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="text-field">
            
        </div>
    </div>
</div>