@{
    ViewBag.Title = "添加/更新";
}

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="javascript:;" onclick="$alert($('.data-view').checkedVal());" class="action"><i class="fa fa-check"></i> 选中值</a>
            <button><i class="fa fa-trash"></i> 删除</button>
        </div>
        <div class="rightbar">
            <button onclick="$alert('这里是警告信息，也可以是成功信息！');"><i class="fa fa-warning"></i></button>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <form class="form customScrollBar">
            <div class="form-group">
                <input type="text" placeholder="这里输入文章标题：美丽的家乡" class="form-control title" />
            </div>
            <div class="form-group">
                <label>标签：</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mozmd markdown">
                <div class="mozmd-container">
                    <div class="mozmd-edit" contenteditable="plaintext-only"></div>
                    <div class="mozmd-preview"></div>
                </div>
                <div class="mozmd-toolbar">
                    <div class="mozmd-toolbar-items">
                        <div class="mozmd-leftbar">
                            <button type="button"><i class="fa fa-header"></i></button>
                            <button type="button"><i class="fa fa-font"></i></button>
                            <button js-action="bold" type="button"><i class="fa fa-bold"></i></button>
                            <button js-action="italic" type="button"><i class="fa fa-italic"></i></button>
                            <button js-action="ul" type="button"><i class="fa fa-list-ul"></i></button>
                            <button js-action="ol" type="button"><i class="fa fa-list-ol"></i></button>
                            <button js-action="quote" type="button"><i class="fa fa-quote-right"></i></button>
                        </div>
                        <div class="mozmd-rightbar">
                            <button type="button"><i class="fa fa-arrows-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-actionbar">
                    <div class="form-action-container">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-default" type="reset">取消</button>
                    </div>
                    <div class="form-addon-container">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/marked/marked.min.js"></script>
}
