@{
    ViewBag.Title = "首页";
}

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="#" class="action"><i class="glyphicon glyphicon-trash"></i> 编辑</a>
            <button><i class="fa fa-trash"></i> 删除</button>
        </div>
        <div class="rightbar">
            <button onclick="$alert('这里是警告信息，也可以是成功信息！');"><i class="fa fa-warning"></i></button>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="filterbar">
            <div class="actionbar">
                <input type="text" class="search"/>
            </div>
        </div>
        <moz:rolecheckboxlist class="box20"></moz:rolecheckboxlist>
    </div>
</div>

@section Scripts
{
    
}
