@{
    ViewBag.Title = "首页";
}

<div style="margin: 70px 20px;">
    <button type="button" _modal="@Url.Action("ModalTest")">弹窗</button>
    <button type="button" onclick="$alert('这里是警告信息，也可以是成功信息！');">警告</button> 
</div>

<div>
    <moz:rolecheckboxlist class="box20"></moz:rolecheckboxlist>
</div>

@section Scripts
{
    
}
