@{
    Layout = null;
}
<div class="win-panel win-left">
    <div class="win-body menu-wrapper">
        <div class="win-content">
            <div class="menu">
                <a href="#">
                    <i class="fa fa-envelope-o"></i>
                    <span>邮件</span>
                </a><a data-is-focusable="true" href="https://outlook.live.com/owa/?path=/calendar" target="" class="_2uby4FFRCU8wwRFhep1926 _3lLIfL3d8-l4Q9VRHCKnet" role="menuitem" aria-label="日历">
                    <i role="presentation" aria-hidden="true" data-icon-name="Calendar" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">日历</div>
                </a><a data-is-focusable="true" href="https://outlook.live.com/owa/?path=/people" target="" class="_2uby4FFRCU8wwRFhep1926 _1eZek86YbKIDioLcxj_OLq" role="menuitem" aria-label="人员">
                    <i role="presentation" aria-hidden="true" data-icon-name="People" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">人员</div>
                </a><a data-is-focusable="true" href="https://outlook.live.com/mail/photohub#/inbox" target="" class="_2uby4FFRCU8wwRFhep1926 _3b4eYR7LWB6zripWAYEYYX" role="menuitem" aria-label="照片">
                    <i role="presentation" aria-hidden="true" data-icon-name="Photo2" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">照片</div>
                </a><a data-is-focusable="true" href="https://onedrive.live.com" target="" class="_2uby4FFRCU8wwRFhep1926 TXMKKXKduxsZuSbXn6yhm" role="menuitem" aria-label="OneDrive">
                    <i role="presentation" aria-hidden="true" data-icon-name="OneDrive" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">OneDrive</div>
                </a><a data-is-focusable="true" href="https://outlook.live.com/owa/?path=/tasks" target="" class="_2uby4FFRCU8wwRFhep1926 _2xewkWoC4L83dofukUuDao" role="menuitem" aria-label="任务">
                    <i role="presentation" aria-hidden="true" data-icon-name="CheckboxComposite" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">任务</div>
                </a><a data-is-focusable="true" href="https://office.live.com/start/Word.aspx?auth=1" target="" class="_2uby4FFRCU8wwRFhep1926 _39st5wZuMt04J3wbSuncvE" role="menuitem" aria-label="Word">
                    <i role="presentation" aria-hidden="true" data-icon-name="WordLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">Word</div>
                </a><a data-is-focusable="true" href="https://office.live.com/start/Excel.aspx?auth=1" target="" class="_2uby4FFRCU8wwRFhep1926 _1xUx5FOz2udmhAkfhEuTeC" role="menuitem" aria-label="Excel">
                    <i role="presentation" aria-hidden="true" data-icon-name="ExcelLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">Excel</div>
                </a><a data-is-focusable="true" href="https://office.live.com/start/PowerPoint.aspx?auth=1" target="" class="_2uby4FFRCU8wwRFhep1926 _3YfRn_TWJqrJUGuPUtTQWv" role="menuitem" aria-label="PowerPoint">
                    <i role="presentation" aria-hidden="true" data-icon-name="PowerPointLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">PowerPoint</div>
                </a><a data-is-focusable="true" href="https://www.onenote.com/notebooks?auth=1" target="" class="_2uby4FFRCU8wwRFhep1926 _2GeU1PIxfZjU0gTE3sDshM" role="menuitem" aria-label="OneNote">
                    <i role="presentation" aria-hidden="true" data-icon-name="OneNoteLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">OneNote</div>
                </a><a data-is-focusable="true" href="https://sway.com" target="" class="_2uby4FFRCU8wwRFhep1926 _3d-7o1jYayhHSzquiUkhIo" role="menuitem" aria-label="Sway">
                    <i role="presentation" aria-hidden="true" data-icon-name="SwayLogoInverse" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">Sway</div>
                </a><a data-is-focusable="true" href="https://web.skype.com/?source=owa" target="" class="_2uby4FFRCU8wwRFhep1926 _3Vpwp8rQSGZjDfnz8bkggI" role="menuitem" aria-label="Skype">
                    <i role="presentation" aria-hidden="true" data-icon-name="SkypeLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">Skype</div>
                </a><a data-is-focusable="true" href="https://docs.com/?entrypointid=1" target="" class="_2uby4FFRCU8wwRFhep1926 _3FOHcV2Syi1x9IGfLE2TbH" role="menuitem" aria-label="Docs.com">
                    <i role="presentation" aria-hidden="true" data-icon-name="DocsLogoInverse" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">Docs.com</div>
                </a><a data-is-focusable="true" href="https://office.live.com/start/default.aspx?auth=1&amp;nf=1" target="" class="_2uby4FFRCU8wwRFhep1926 _1KAN4ZwRnL0S1OwPYh5WxA" role="menuitem" aria-label="Office">
                    <i role="presentation" aria-hidden="true" data-icon-name="OfficeLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">Office</div>
                </a><a data-is-focusable="true" href="https://www.bing.com/?FORM=MO0027" target="" class="_2uby4FFRCU8wwRFhep1926 _11s9wDxelx8EeILuwmVSpM" role="menuitem" aria-label="必应">
                    <i role="presentation" aria-hidden="true" data-icon-name="BingLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">必应</div>
                </a><a data-is-focusable="true" href="https://www.msn.com/?OCID=CALHeader" target="" class="_2uby4FFRCU8wwRFhep1926 I1-VknTGMruX3nUZnrzrO" role="menuitem" aria-label="MSN">
                    <i role="presentation" aria-hidden="true" data-icon-name="MsnLogo" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">MSN</div>
                </a><a data-is-focusable="true" href="https://flow.microsoft.com/manage/?utm_source=consumer_office&amp;utm_medium=app_launcher&amp;utm_campaign=consumer_referrals" target="" class="_2uby4FFRCU8wwRFhep1926 _3I6JqgtGHsAOTuNFAY9fEr" role="menuitem" aria-label="Flow">
                    <i role="presentation" aria-hidden="true" data-icon-name="Flow" class="ms-Icon css-35 css-33 _1kWGDgoy4gBRfNhzwKOmvX"></i>
                    <div class="_1ADrQR88bguD84fpuBmj0d">Flow</div>
                </a>
            </div>
        </div>
    </div>
</div>