@{
    Layout = "_Modal";
    ViewBag.Title = "测试弹窗";
}

<form method="post">
    <div class="form-group">
        <label>测试名称</label>
        <input name="testname" type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label>测试名称</label>
        <input name="pws" type="text" class="form-control" />
    </div>
    <moz:rolecheckboxlist name="role"></moz:rolecheckboxlist>
</form>