@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "修改密码";
    ViewData["Current"] = AccountMenu.ChangePassword;
}

<div class="account-title">
    <h4>@ViewData["Title"]</h4>
</div>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.OldPassword"></label>
        <input asp-for="Input.OldPassword" class="form-control max-250" />
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" class="form-control max-250" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control max-250" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-secondary">更新密码</button>
</form>