@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "修改密码";
    ViewData["Current"] = AccountMenu.ChangePassword;
}

<div class="panel panel-primary nav-panel" data-collapsed="0">
    <ul class="nav nav-tabs tab-right-border">
        <li><a asp-page="./Index" asp-area="@SecuritySettings.ExtensionName">编辑资料</a></li>
        <li class="active"><a asp-page="./ChangePassword" asp-area="@SecuritySettings.ExtensionName">修改密码</a></li>
        <li><a asp-page="./Avatar" asp-area="@SecuritySettings.ExtensionName">更新头像</a></li>
        <li><a asp-page="./Log" asp-area="@SecuritySettings.ExtensionName">活动日志</a></li>
    </ul>
    <div class="panel-body">
        <form id="change-password-form" method="post">
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">更新密码</button>
        </form>
    </div>
</div>
