@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "删除私有数据";
    ViewData["Current"] = AccountMenu.PersonalData;
}

<div class="account-title">
    <h4>@ViewData["Title"]</h4>
</div>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>删除这些数据，并永久移除账户，将不能恢复。</strong>
    </p>
</div>
<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">删除数据并且关闭账户</button>
    </form>
</div>