@page
@model Disable2faModel
@{
    ViewData["Title"] = "禁用二次登陆验证(2FA)";
    ViewData["Current"] = AccountMenu.TwoFactorAuthentication;
}

<div class="account-title">
    <h4>@ViewData["Title"]</h4>
</div>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>禁用二次登陆验证</strong>
    </p>
    <p>
        禁用二次登陆验证，在登陆的时候不会改变密钥，如果需要改变密钥，<a asp-page="./ResetAuthenticator">请点击这里重置验证密钥。</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">禁用二次登陆验证</button>
    </form>
</div>
