@page
@model PasswordModel
@{
    Layout = "_Modal";
    ViewBag.Title = "设置密码";
}

<form method="post">
    <input type="hidden" asp-for="Model.UserId" />
    <div class="form-group">
        <label>密码</label>
        <input class="form-control" asp-for="Model.Password" />
        <span class="text-danger" asp-validation-for="Model.Password"></span>
    </div>
    <div class="form-group">
        <label>确认密码</label>
        <input class="form-control" asp-for="Model.ConfirmPassword" />
        <span class="text-danger" asp-validation-for="Model.ConfirmPassword"></span>
    </div>
</form>