@page "/denied"
@model AccessDeniedModel
@{
    ViewData["Title"] = "拒绝访问";
}
<div class="container mozskin-main mt-4">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">你被拒绝访问当前页面！</p>
    </header>
</div>