@page "/forgot"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "忘记密码?";
}
<div class="container mozskin-main mt-4">
    <h4>@ViewData["Title"]</h4>
    <div>请输入你注册时候的电子邮件。</div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>邮件地址</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
