@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "忘记密码确认信息";
}
<div class="container mozskin-main mt-4">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <p>
        请通过电子邮件重置密码链接进行重置密码。
    </p>
</div>