<script>
    $(function () {
        var $this = $('.mozjs-1'), a, d;
        (function b() {
            $.ajax({
                url: '/test/data?_=' + (+new Date()),
                dataType: 'JSON',
                type: 'GET',
                success: function (e) { d = []; $render(e); if (a) clearTimeout(a); a = setTimeout(b, 5000); }, error: function () { if (a) clearTimeout(a); a = setTimeout(b, 5000); }
            });
        })(); function w(s) { d.push(s); } function $render($model) {
            $model.forEach(item => render(item));

            function render(item) {
                w('<li style="color:'); w(item.color); w(';'); w(item.bold ? 'font-weight:bold;' : ''); w('">'); w(item.id); w(item.name); if (item.data) {
                    w('<ul class="sub">'); item.data.forEach(it => render(it));
                    w('</ul>');
                }
                w('</li>');
            }
            $this.html(d.join(''));
        }
    });</script>