html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(/security/images/login.jpg) no-repeat #f5f5f5 0 0;
    background-size: 100% 100%;
}

.login-title {
    text-align: center;
}

.signin {
    width: 100%;
    max-width: 480px;
    margin: auto;
}

    .signin .signin-panel {
        padding: 32px 48px;
        background: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input,
    .form-label-group label {
        height: 2.725rem;
        padding: .75rem;
    }

    .form-label-group label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0; /* Override default `<label>` margin */
        line-height: 1.4;
        color: #495057;
        pointer-events: none;
        cursor: text; /* Match the input under the label */
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group .validcode {
        border: 1px solid #ced4da;
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        cursor: pointer;
    }

    .form-label-group .input-group > .form-control:focus {
        z-index: auto;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: 1.25rem;
        padding-bottom: .25rem;
    }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: .25rem;
            padding-bottom: .25rem;
            font-size: 12px;
            color: #777;
        }

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.link-panel {
    display: flex;
}

    .link-panel .link-right {
        text-align: right;
        flex: 1 1 auto;
    }

    .link-panel .link-left {
        flex: 1 1 auto;
    }

.copyright {
    text-align: center;
    color: #ffffff;
}

.mozskin-xs form h4 {
    display: none;
}

.mozskin-xs .signin .signin-panel {
    border: none;
    border-radius: 0;
}

    .mozskin-xs .signin .signin-panel .btn-lg {
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }
