@{
    Layout = "_Modal";
    ViewData["Title"] = "添加禁用名称";
}

<form method="post">
    <textarea name="names" class="form-control" rows="10"></textarea>
    <div class="help-block">
        注：多个名称使用“,”分隔！
    </div>
</form>